<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Products</th>
      <th>Buy</th>
      <th>Sell</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Brown Mushroom</td>
      <td>$15.80</td>
      <td>$14.90</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Cocoa Beans</td>
      <td>$3.70</td>
      <td>$2.00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Lapis Lazuli</td>
      <td>$4.50</td>
      <td>$2.40</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Spooky Shard</td>
      <td>$3,118.80</td>
      <td>$2,042.80</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Tarantula Web</td>
      <td>$180.00</td>
      <td>$179.30</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Carrot</td>
      <td>$3.50</td>
      <td>$1.70</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Enchanted Potato</td>
      <td>$274.70</td>
      <td>$222.90</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Experience Bottle</td>
      <td>$37.00</td>
      <td>$21.10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Green Jerry Box</td>
      <td>$134,649.00</td>
      <td>$106,678.90</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Enchanted Slimeball</td>
      <td>$910.60</td>
      <td>$870.00</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Enchanted Red Mushroom</td>
      <td>$3,912.30</td>
      <td>$2,907.90</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Enchanted Golden Carrot</td>
      <td>$52,159.40</td>
      <td>$20,706.30</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Enchanted Rabbit Hide</td>
      <td>$27,998.10</td>
      <td>$22,523.20</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Enchanted Birch Wood</td>
      <td>$391.60</td>
      <td>$342.80</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Enchanted Gunpowder</td>
      <td>$2,210.00</td>
      <td>$1,924.20</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Enchanted Melon</td>
      <td>$191.90</td>
      <td>$171.00</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Enchanted Sugar</td>
      <td>$330.40</td>
      <td>$300.10</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Cactus</td>
      <td>$4.60</td>
      <td>$2.90</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Enchanted Blaze Rod</td>
      <td>$768,573.30</td>
      <td>$565,451.60</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Enchanted Cake</td>
      <td>$9,400.00</td>
      <td>$4,137.90</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Pumpkin</td>
      <td>$5.70</td>
      <td>$3.60</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Enchanted Brown Mushroom</td>
      <td>$780.40</td>
      <td>$604.80</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Nurse Shark Tooth</td>
      <td>$479.20</td>
      <td>$304.70</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Wheat</td>
      <td>$3.80</td>
      <td>$1.70</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Enchanted Raw Salmon</td>
      <td>$1,681.20</td>
      <td>$1,587.50</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Enchanted Glistering Melon</td>
      <td>$7,996.10</td>
      <td>$5,082.20</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Prismarine Shard</td>
      <td>$4.70</td>
      <td>$3.80</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Protector Dragon Fragment</td>
      <td>$2,812.60</td>
      <td>$2,406.30</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Enchanted Emerald</td>
      <td>$1,117.40</td>
      <td>$1,034.60</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Enchanted Spider Eye</td>
      <td>$963.10</td>
      <td>$894.10</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Red Mushroom</td>
      <td>$18.50</td>
      <td>$18.00</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Grand Experience Bottle</td>
      <td>$4,987.00</td>
      <td>$4,730.40</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Mutton</td>
      <td>$19.00</td>
      <td>$15.30</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Enchanted Melon Block</td>
      <td>$25,615.60</td>
      <td>$25,231.80</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Shark Fin</td>
      <td>$131.60</td>
      <td>$100.90</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Diamond</td>
      <td>$8.00</td>
      <td>$7.40</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Wise Dragon Fragment</td>
      <td>$28,550.80</td>
      <td>$24,377.20</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Cobblestone</td>
      <td>$9.00</td>
      <td>$7.20</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Refined Mithril</td>
      <td>$383,308.70</td>
      <td>$327,481.60</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Spider Eye</td>
      <td>$5.90</td>
      <td>$3.90</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Raw Fish</td>
      <td>$15.90</td>
      <td>$12.90</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Enchanted Pufferfish</td>
      <td>$2,415.90</td>
      <td>$2,370.10</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Potato</td>
      <td>$2.20</td>
      <td>$1.10</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Enchanted Brown Mushroom Block</td>
      <td>$28,895.70</td>
      <td>$9,065.70</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Refined Diamond</td>
      <td>$601,230.90</td>
      <td>$18,144.30</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Enchanted Cobblestone</td>
      <td>$1,374.40</td>
      <td>$1,368.70</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Tightly-Tied Hay Bale</td>
      <td>$632,035.20</td>
      <td>$22,733.80</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Enchanted Red Mushroom Block</td>
      <td>$43,770.30</td>
      <td>$37,233.00</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Ice Bait</td>
      <td>$37.00</td>
      <td>$30.00</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Raw Porkchop</td>
      <td>$14.90</td>
      <td>$10.20</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Prismarine Crystals</td>
      <td>$8.60</td>
      <td>$5.90</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Ice</td>
      <td>$10.10</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Tiger Shark Tooth</td>
      <td>$16,199.50</td>
      <td>$9,113.10</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Brown Mushroom Block</td>
      <td>$22.40</td>
      <td>$21.20</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Red Mushroom Block</td>
      <td>$93.80</td>
      <td>$56.90</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Dark Oak Wood</td>
      <td>$4.60</td>
      <td>$4.50</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Enchanted Snow Block</td>
      <td>$599.10</td>
      <td>$590.80</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Golden Tooth</td>
      <td>$115,404.50</td>
      <td>$104,659.00</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Hyper Catalyst</td>
      <td>$133,117.20</td>
      <td>$123,876.60</td>
    </tr>
    <tr>
      <th>59</th>
      <td>String</td>
      <td>$8.20</td>
      <td>$5.70</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Rabbit's Foot</td>
      <td>$12.30</td>
      <td>$10.60</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Redstone</td>
      <td>$1.50</td>
      <td>$0.90</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Golden Jerry Box</td>
      <td>$1,723,184.00</td>
      <td>$1,004,803.00</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Pumpkin Guts</td>
      <td>$47,999.40</td>
      <td>$36,672.70</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Enchanted Cactus Green</td>
      <td>$1,861.70</td>
      <td>$1,789.30</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Booster Cookie</td>
      <td>$3,320,436.80</td>
      <td>$3,112,754.30</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Was Temporarily: Enchanted Carrot on a Stick</td>
      <td>$0.00</td>
      <td>$0.00</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Enchanted Lapis Block</td>
      <td>$47,536.20</td>
      <td>$42,351.50</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Enchanted End Stone</td>
      <td>$944.70</td>
      <td>$837.20</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Enchanted Cookie</td>
      <td>$69,505.40</td>
      <td>$32,724.20</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Enchanted Sand</td>
      <td>$766.50</td>
      <td>$678.50</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Colossal Experience Bottle</td>
      <td>$870,100.10</td>
      <td>$320,757.10</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Enchanted String</td>
      <td>$1,565.70</td>
      <td>$1,539.10</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Strong Dragon Fragment</td>
      <td>$23,672.70</td>
      <td>$17,166.80</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Slimeball</td>
      <td>$24.00</td>
      <td>$18.20</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Snowball</td>
      <td>$1.20</td>
      <td>$0.20</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Holy Dragon Fragment</td>
      <td>$2,529.80</td>
      <td>$2,405.40</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Enchanted Acacia Wood</td>
      <td>$438.30</td>
      <td>$309.10</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Enchanted Egg</td>
      <td>$1,679.80</td>
      <td>$1,509.50</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Sand</td>
      <td>$4.70</td>
      <td>$3.10</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Soul Fragment</td>
      <td>$2,109,999.80</td>
      <td>$32,971.50</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Raw Chicken</td>
      <td>$55.40</td>
      <td>$32.60</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Ancient Claw</td>
      <td>$234.50</td>
      <td>$196.10</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Enchanted Lapis Lazuli</td>
      <td>$805.60</td>
      <td>$740.40</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Enchanted Ghast Tear</td>
      <td>$259.10</td>
      <td>$225.10</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Enchanted Cocoa Bean</td>
      <td>$478.00</td>
      <td>$462.70</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Carrot Bait</td>
      <td>$32.00</td>
      <td>$22.20</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Seeds</td>
      <td>$1.00</td>
      <td>$0.20</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Enchanted Leather</td>
      <td>$6,063.40</td>
      <td>$5,841.30</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Enchanted Shark Fin</td>
      <td>$22,848.00</td>
      <td>$19,001.00</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Enchanted Sponge</td>
      <td>$2,328.70</td>
      <td>$2,071.90</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Hay Bale</td>
      <td>$33.90</td>
      <td>$28.80</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Flint</td>
      <td>$14.50</td>
      <td>$12.50</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Ink Sack</td>
      <td>$998.10</td>
      <td>$909.90</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Enchanted Rotten Flesh</td>
      <td>$1,487.40</td>
      <td>$1,263.90</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Wolf Tooth</td>
      <td>$521.50</td>
      <td>$494.20</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Enchanted Spruce Wood</td>
      <td>$1,239.10</td>
      <td>$1,063.80</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Enchanted Grilled Pork</td>
      <td>$229,995.90</td>
      <td>$185,005.10</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Enchanted Nether Wart</td>
      <td>$482.60</td>
      <td>$470.50</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Enchanted Redstone Block</td>
      <td>$39,997.50</td>
      <td>$35,750.70</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Enchanted Quartz Block</td>
      <td>$273,991.20</td>
      <td>$264,522.30</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Enchanted Ancient Claw</td>
      <td>$6,975.50</td>
      <td>$5,799.80</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Green Candy</td>
      <td>$994.90</td>
      <td>$828.20</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Enchanted Redstone</td>
      <td>$256.40</td>
      <td>$237.30</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Enchanted Redstone Lamp</td>
      <td>$65,999.80</td>
      <td>$45,636.60</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Great White Shark Tooth</td>
      <td>$906,672.00</td>
      <td>$823,556.20</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Gravel</td>
      <td>$3.40</td>
      <td>$3.10</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Melon</td>
      <td>$5.00</td>
      <td>$4.10</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Enchanted Lava Bucket</td>
      <td>$259,872.60</td>
      <td>$234,570.50</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Enchanted Packed Ice</td>
      <td>$180,642.80</td>
      <td>$163,361.00</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Pufferfish</td>
      <td>$15.40</td>
      <td>$13.80</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Enchanted Prismarine Shard</td>
      <td>$425.80</td>
      <td>$400.00</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Recombobulator 3000</td>
      <td>$6,514,699.50</td>
      <td>$4,410,509.60</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Enchanted Iron Block</td>
      <td>$258,386.50</td>
      <td>$251,877.00</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Enchanted Carrot on a Stick</td>
      <td>$17,988.20</td>
      <td>$5,400.50</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Bone</td>
      <td>$2.80</td>
      <td>$1.80</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Clownfish</td>
      <td>$24.40</td>
      <td>$18.10</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Raw Salmon</td>
      <td>$14.80</td>
      <td>$9.20</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Revenant Flesh</td>
      <td>$1.90</td>
      <td>$0.70</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Enchanted Glowstone</td>
      <td>$91,246.70</td>
      <td>$77,373.10</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Enchanted Pork</td>
      <td>$1,876.00</td>
      <td>$1,703.50</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Feather</td>
      <td>$3.00</td>
      <td>$2.00</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Netherrack</td>
      <td>$3.20</td>
      <td>$2.30</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Whale Bait</td>
      <td>$2,036.20</td>
      <td>$1,837.90</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Sponge</td>
      <td>$59.60</td>
      <td>$50.60</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Blaze Rod</td>
      <td>$64.00</td>
      <td>$58.90</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Enchanted Dark Oak Wood</td>
      <td>$609.00</td>
      <td>$335.90</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Young Dragon Fragment</td>
      <td>$4,379.80</td>
      <td>$3,853.70</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Enchanted Clownfish</td>
      <td>$3,200.50</td>
      <td>$3,181.30</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Refined Mineral</td>
      <td>$31,544.70</td>
      <td>$29,000.00</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Enchanted Gold</td>
      <td>$1,182.10</td>
      <td>$1,124.80</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Enchanted Raw Chicken</td>
      <td>$666.90</td>
      <td>$633.20</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Enchanted Lily Pad</td>
      <td>$34,291.20</td>
      <td>$30,471.70</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Spruce Wood</td>
      <td>$7.30</td>
      <td>$6.00</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Titanium</td>
      <td>$38.70</td>
      <td>$33.10</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Blue Shark Tooth</td>
      <td>$1,116.10</td>
      <td>$822.20</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Catalyst</td>
      <td>$111,495.40</td>
      <td>$10,225.00</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Jungle Wood</td>
      <td>$6.50</td>
      <td>$4.20</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Birch Wood</td>
      <td>$2.30</td>
      <td>$1.40</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Blessed Bait</td>
      <td>$294.00</td>
      <td>$219.20</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Enchanted Glowstone Dust</td>
      <td>$624.00</td>
      <td>$592.40</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Enchanted Ink Sack</td>
      <td>$78,651.90</td>
      <td>$74,876.20</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Enchanted Cactus</td>
      <td>$154,999.30</td>
      <td>$140,387.70</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Enchanted Sugar Cane</td>
      <td>$55,061.70</td>
      <td>$51,843.40</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Enchanted Cooked Salmon</td>
      <td>$264,592.50</td>
      <td>$251,243.10</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Enchanted Seeds</td>
      <td>$91.30</td>
      <td>$66.80</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Oak Wood</td>
      <td>$8.60</td>
      <td>$6.10</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Jacob's Ticket</td>
      <td>$9,268.70</td>
      <td>$8,144.80</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Enchanted Bone Block</td>
      <td>$124,999.00</td>
      <td>$69,650.70</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Ghast Tear</td>
      <td>$98.70</td>
      <td>$50.10</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Unstable Dragon Fragment</td>
      <td>$2,601.90</td>
      <td>$2,394.30</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Enchanted Ender Pearl</td>
      <td>$178.30</td>
      <td>$159.50</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Purple Candy</td>
      <td>$10,700.00</td>
      <td>$9,639.10</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Enchanted Fermented Spider Eye</td>
      <td>$72,267.80</td>
      <td>$66,035.30</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Polished Pumpkin</td>
      <td>$165,854.40</td>
      <td>$140,410.70</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Spiked Bait</td>
      <td>$60.30</td>
      <td>$49.50</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Enchanted Gold Block</td>
      <td>$157,996.90</td>
      <td>$147,613.00</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Enchanted Jungle Wood</td>
      <td>$1,006.00</td>
      <td>$903.90</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Enchanted Flint</td>
      <td>$2,366.20</td>
      <td>$2,322.20</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Iron Ingot</td>
      <td>$9.30</td>
      <td>$5.60</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Enchanted Emerald Block</td>
      <td>$160,662.70</td>
      <td>$151,848.60</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Enchanted Clay</td>
      <td>$4,554.50</td>
      <td>$469.90</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Glowstone Dust</td>
      <td>$20.00</td>
      <td>$16.80</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Gold Ingot</td>
      <td>$6.10</td>
      <td>$5.30</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Revenant Viscera</td>
      <td>$55,141.30</td>
      <td>$51,416.60</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Tarantula Silk</td>
      <td>$108,160.90</td>
      <td>$103,529.90</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Titanic Experience Bottle</td>
      <td>$289,093.30</td>
      <td>$264,861.10</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Enchanted Mutton</td>
      <td>$3,026.80</td>
      <td>$2,776.00</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Super Compactor 3000</td>
      <td>$693,389.10</td>
      <td>$643,811.40</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Super Enchanted Egg</td>
      <td>$262,469.50</td>
      <td>$234,367.70</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Enchanted Iron</td>
      <td>$1,840.20</td>
      <td>$1,550.00</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Stock of Stonks</td>
      <td>$798,667.70</td>
      <td>$32,418.50</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Mithril</td>
      <td>$10.70</td>
      <td>$8.70</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Enchanted Hay Bale</td>
      <td>$5,136.60</td>
      <td>$4,789.80</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Enchanted Paper</td>
      <td>$460.50</td>
      <td>$400.40</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Enchanted Titanium</td>
      <td>$5,901.30</td>
      <td>$5,668.60</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Enchanted Bone</td>
      <td>$438.90</td>
      <td>$390.80</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Enchanted Diamond Block</td>
      <td>$206,796.90</td>
      <td>$128,921.90</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Spooky Bait</td>
      <td>$44.50</td>
      <td>$35.00</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Superior Dragon Fragment</td>
      <td>$149,155.70</td>
      <td>$10,452.50</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Emerald</td>
      <td>$6.00</td>
      <td>$4.40</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Enchanted Rabbit Foot</td>
      <td>$2,093.60</td>
      <td>$1,834.10</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Light Bait</td>
      <td>$89.50</td>
      <td>$79.20</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Hot Potato Book</td>
      <td>$43,323.90</td>
      <td>$39,668.50</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Enchanted Ice</td>
      <td>$1,187.90</td>
      <td>$1,109.80</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Clay</td>
      <td>$3.70</td>
      <td>$2.40</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Old Dragon Fragment</td>
      <td>$2,726.30</td>
      <td>$2,410.80</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Green Gift</td>
      <td>$12,998.90</td>
      <td>$10,624.70</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Packed Ice</td>
      <td>$68.00</td>
      <td>$56.80</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Lily Pad</td>
      <td>$240.50</td>
      <td>$147.10</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Acacia Wood</td>
      <td>$2.40</td>
      <td>$1.20</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Hamster Wheel</td>
      <td>$21,246.50</td>
      <td>$19,875.70</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Enchanted Obsidian</td>
      <td>$2,645.50</td>
      <td>$2,517.40</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Enchanted Coal</td>
      <td>$776.30</td>
      <td>$732.90</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Enchanted Quartz</td>
      <td>$1,776.40</td>
      <td>$1,575.90</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Coal</td>
      <td>$4.10</td>
      <td>$3.40</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Ender Pearl</td>
      <td>$9.70</td>
      <td>$7.10</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Enchanted Block of Coal</td>
      <td>$121,495.60</td>
      <td>$118,072.50</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Werewolf Skin</td>
      <td>$33,253.30</td>
      <td>$21,475.30</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Enchanted Prismarine Crystals</td>
      <td>$403.70</td>
      <td>$400.00</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Daedalus Stick</td>
      <td>$20,094,510.10</td>
      <td>$11,561,093.80</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Enchanted Wet Sponge</td>
      <td>$104,875.60</td>
      <td>$6,297.50</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Enchanted Raw Fish</td>
      <td>$2,687.10</td>
      <td>$2,318.40</td>
    </tr>
    <tr>
      <th>203</th>
      <td>End Stone</td>
      <td>$5.80</td>
      <td>$4.20</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Nether Quartz</td>
      <td>$41.80</td>
      <td>$33.80</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Foul Flesh</td>
      <td>$25,539.80</td>
      <td>$24,106.90</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Raw Beef</td>
      <td>$4.90</td>
      <td>$3.40</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Purple Jerry Box</td>
      <td>$934,420.70</td>
      <td>$80,665.30</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Enchanted Eye of Ender</td>
      <td>$6,421.30</td>
      <td>$5,825.00</td>
    </tr>
    <tr>
      <th>209</th>
      <td>Ectoplasm</td>
      <td>$94,801.40</td>
      <td>$76,106.40</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Sugar Cane</td>
      <td>$2.90</td>
      <td>$2.10</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Magma Cream</td>
      <td>$8.20</td>
      <td>$6.20</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Shark Bait</td>
      <td>$20.00</td>
      <td>$17.20</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Red Gift</td>
      <td>$67,644.60</td>
      <td>$61,508.40</td>
    </tr>
    <tr>
      <th>214</th>
      <td>Enchanted Mithril</td>
      <td>$1,600.00</td>
      <td>$1,553.40</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Blue Jerry Box</td>
      <td>$199,475.90</td>
      <td>$172,280.60</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Enchanted Raw Beef</td>
      <td>$649.90</td>
      <td>$603.50</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Enchanted Feather</td>
      <td>$515.00</td>
      <td>$460.60</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Enchanted Slime Block</td>
      <td>$154,994.80</td>
      <td>$126,006.40</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Enchanted Oak Wood</td>
      <td>$1,246.60</td>
      <td>$1,121.30</td>
    </tr>
    <tr>
      <th>220</th>
      <td>Rabbit Hide</td>
      <td>$39.00</td>
      <td>$35.80</td>
    </tr>
    <tr>
      <th>221</th>
      <td>White Gift</td>
      <td>$7,814.00</td>
      <td>$7,045.70</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Raw Rabbit</td>
      <td>$34.50</td>
      <td>$22.40</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Gunpowder</td>
      <td>$14.60</td>
      <td>$9.90</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Dark Bait</td>
      <td>$1,278.20</td>
      <td>$933.80</td>
    </tr>
    <tr>
      <th>225</th>
      <td>Nether Wart</td>
      <td>$6.30</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Enchanted Carrot</td>
      <td>$394.70</td>
      <td>$375.40</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Enchanted Pumpkin</td>
      <td>$954.40</td>
      <td>$917.20</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Griffin Feather</td>
      <td>$48,996.00</td>
      <td>$45,001.10</td>
    </tr>
    <tr>
      <th>229</th>
      <td>Rotten Flesh</td>
      <td>$7.20</td>
      <td>$6.20</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Enchanted Cooked Fish</td>
      <td>$393,442.70</td>
      <td>$348,888.60</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Obsidian</td>
      <td>$16.10</td>
      <td>$13.70</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Minnow Bait</td>
      <td>$39.50</td>
      <td>$23.70</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Enchanted Magma Cream</td>
      <td>$1,304.00</td>
      <td>$1,266.00</td>
    </tr>
    <tr>
      <th>234</th>
      <td>Enchanted Firework Rocket</td>
      <td>$164,395.80</td>
      <td>$142,327.30</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Starfall</td>
      <td>$100.00</td>
      <td>$82.00</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Leather</td>
      <td>$29.00</td>
      <td>$24.10</td>
    </tr>
    <tr>
      <th>237</th>
      <td>Enchanted Cooked Mutton</td>
      <td>$136,974.80</td>
      <td>$127,767.90</td>
    </tr>
    <tr>
      <th>238</th>
      <td>Refined Titanium</td>
      <td>$241,471.70</td>
      <td>$221,598.20</td>
    </tr>
    <tr>
      <th>239</th>
      <td>Enchanted Raw Rabbit</td>
      <td>$642.60</td>
      <td>$614.60</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Mutant Nether Wart</td>
      <td>$77,193.90</td>
      <td>$75,990.70</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Enchanted Bread</td>
      <td>$71.60</td>
      <td>$56.00</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Fuming Potato Book</td>
      <td>$1,161,999.90</td>
      <td>$1,061,005.80</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Enchanted Charcoal</td>
      <td>$1,197.40</td>
      <td>$1,002.10</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Enchanted Blaze Powder</td>
      <td>$7,998.90</td>
      <td>$4,091.10</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Summoning Eye</td>
      <td>$1,218,274.50</td>
      <td>$1,126,042.40</td>
    </tr>
    <tr>
      <th>246</th>
      <td>Fish Bait</td>
      <td>$106.00</td>
      <td>$88.30</td>
    </tr>
    <tr>
      <th>247</th>
      <td>Snow Block</td>
      <td>$6.80</td>
      <td>$3.60</td>
    </tr>
    <tr>
      <th>248</th>
      <td>Enchanted Baked Potato</td>
      <td>$40,537.60</td>
      <td>$26,668.80</td>
    </tr>
    <tr>
      <th>249</th>
      <td>Compactor</td>
      <td>$12,789.70</td>
      <td>$9,657.50</td>
    </tr>
    <tr>
      <th>250</th>
      <td>Enchanted Diamond</td>
      <td>$1,296.20</td>
      <td>$1,276.40</td>
    </tr>
  </tbody>
</table>